<!-- inicio-filtro.component.html -->
<div *ngIf="productosFiltrados.length > 0; else noProductos">
  <div class="product-section">
    <ul class="product-list">
      <li *ngFor="let producto of productosFiltrados" class="product-item" (click)="openModal(producto)">
        <img [src]="producto.imagen_url" [alt]="producto.nombre_producto" class="product-image" />
        <a class="product-name">{{ producto.nombre_producto }}</a>
        <div class="product-details">
          <div class="price-section">
            <span class="price">${{ producto.precio }}</span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<!-- Modal -->
  <div class="modal" *ngIf="selectedProduct" (click)="closeModal()">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <span class="close" (click)="closeModal()">&times;</span>
      <div class="modal-body">
        <img [src]="selectedProduct.imagen_url" [alt]="selectedProduct.nombre_producto" class="modal-image" />
        <div class="modal-details">
          <h2>{{ selectedProduct.nombre_producto }}</h2>
          <p class="description"><strong></strong> {{ selectedProduct.descripcion }}</p>
          <p class="modal-price"><strong>Precio:</strong> ${{ selectedProduct.precio }}</p>
          <div class="quantity-container">
            <p><strong>Disponibles:</strong> {{ selectedProduct.cantidad_dispo }}</p>
            <button class="add-to-cart" (click)="agregarAlCarrito(selectedProduct)">Agregar al Carrito</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  

  <div *ngIf="mensajeVisible" class="mensaje-eliminacion">
    {{ mensaje }}
  </div>
<ng-template #noProductos>
  <p>No hay productos en esta categoría.</p>
</ng-template>
