<div class="container">
    <h1>Tu Carrito</h1>

    <div class="cart-container">
        <!-- Productos a la izquierda -->
        <div class="cart-items" *ngFor="let producto of carrito?.productos">
            <div class="cart-item">
                <img [src]="producto.imagen" alt="Producto" width="100">
                <div class="cart-details">
                    <p>{{ producto.nombre_producto }}</p>
                    <p>Precio: ${{ producto.precio }}</p>

                    <!-- Botones de incremento/decremento -->
                    <div class="quantity-control">
                        <button class="btn-decrement" (click)="decrementar(producto)">-</button>
                        <input type="number" [value]="cantidadSeleccionada[producto.id_producto]" class="quantity-input" readonly>
                        <button class="btn-increment" (click)="incrementar(producto)">+</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Suma total y botón de compra a la derecha -->
        <div class="cart-summary">
            <div class="cart-total">
                <p>Total: {{ total | currency }}</p>
            </div>
            <div class="cart-actions">
                <button class="btn">Proceder al Pago</button>
            </div>
        </div>
    </div>
</div>
