

    <div class="container">
        <h1>Tu Carrito</h1>
        
        <!-- Productos en el carrito -->
        <div class="cart-item">
            <img alt="Producto 1">
            <div class="cart-details">
                <tr>
                  <td></td>  
                </tr>
            </div>
        </div>


        <!-- Total -->
        <div class="cart-total">
            Total: $50.00
        </div>

        <!-- Botón de acciones -->
        <div class="cart-actions">
            <button class="btn">Proceder al Pago</button>
        </div>
    </div>



