<h2 class="head">Registro de Usuarios</h2>
<div class="container">

  <!-- Formulario para agregar/editar usuario -->
  <form (ngSubmit)="onSubmit($event)" class="register">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" [(ngModel)]="nombre" name="nombre" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="correoElectronico">Correo Electrónico:</label>
      <input type="email" id="correoElectronico" [(ngModel)]="correoElectronico" name="correoElectronico" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="text" id="telefono" [(ngModel)]="telefono" name="telefono" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" [(ngModel)]="direccion" name="direccion" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="rol">Tipo de usuario:</label>
      <select class="form-select" value="" name="rol" id="rol" [(ngModel)]="userType">
        <option class="form-control" value="student">Estudiante</option>
        <option class="form-control" value="shop">Tienda</option>
      </select>
    </div>

    <!-- Campo para Número de Control (solo visible si el usuario es Estudiante) -->
    <div class="form-group" *ngIf="userType === 'student'">
      <label for="controlNumber">Número de Control:</label>
      <input class="form-control" id="controlNumber" type="text" pattern="[0-9]{10}" title="Debe tener 10 dígitos" required>
    </div>

    <!-- Campo para RFC (solo visible si el usuario es Tienda) -->
    <div class="form-group" *ngIf="userType === 'shop'">
      <label for="rfc">RFC Persona Moral:</label>
      <input class="form-control" id="rfc" type="text" pattern="[A-Z0-9]{10}" title="Debe tener 10 caracteres alfanuméricos" required>
    </div>

    <br/>
    <button type="submit" class="btn btn-primary">
      Registrarse
    </button>
  </form>
</div>
